.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
}

.nav__link {
  text-decoration: none;
  color: #000;
}

.nav__link:hover {
  color: #2f80ed;
  animation: 1s ease-in-out;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin-top: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
